.background {
  background-image: url("~src/assets/images/baggrund.png");
  background-position: center;
  height: 750px;
  width: 100%;


}
.img-responsive {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

